# SPDX-FileCopyrightText: 2024 Yun Hsiao Wu <yunhsiaow@gmail.com>
# SPDX-License-Identifier: MIT

*.exe
*.user
*.ignore.*

obj
bin
.vs
.vscode
.idea

Binaries
Intermediate

CrysknifeCache.ini
